<div class="layout-wrapper">
    <app-topbar></app-topbar>
    <app-sidebar *ngIf="exibindoSibeBar()"></app-sidebar>

    <p-toast [style]="{marginTop: '60px'}" key="toast"></p-toast>

    <p-confirmDialog header="Confirmação" icon="fa fa-question-circle" #confirmacao>
        <p-footer>
            <button type="button" pButton icon="fa fa-check" label="Sim" (click)="confirmacao.accept()"></button>
            <button type="button" pButton icon="fa fa-times" label="Não" (click)="confirmacao.reject()"></button>
        </p-footer>
    </p-confirmDialog>

    <div class="layout-content">
        <router-outlet></router-outlet>
    </div>
</div>